/* Estilos da página index.html*/
.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 15px;
}

#menu li a {
    text-decoration: none;
    color: brown;
    font-size: 20px;
}

#menu li a:hover {
    color: black;
}

.p-20 {
    padding: 20px;
}

.mb-40 {
margin-bottom: 40px;
}

.justify {
    text-align: justify;
}

.p-border {
    border: 2px solid burlywood;
    border-radius: 12px;
    padding: 5px;
}


body {
    background-color:rgb(214, 127, 127);
   }


/* Estilos da página contato*/

.tm-social {
    width: 70px;
    height: 70px;
}

.ml-40 {
    margin-left: 40px;
}